@import 'src/styles/index.scss';

.app {
  &__menu-container {
    &_root-to-page-animation {
      .menu__menu-link {
        &:hover {
          transform: none;
          box-shadow: none;

          .menu-link__hidden-name {
            opacity: 0;

            &::after {
              visibility: hidden;
            }

            &::before {
              visibility: hidden;
            }
          }
        }
        .menu-link__icon {
          transform: rotate(-90deg);

          &:hover {
            transform: rotate(-90deg);
          }
        }
      }
    }

    @for $i from 1 through 4 {
      &_root-to-page-animation-#{$i * 90} {
        animation-name: menu-rotate-and-move-#{$i * 90};

        .menu-link__icon {
          animation-name: menu-icons-rotate-#{$i * 90};
        }
      }
    }

    &_root-to-page-animation {
      animation-duration: 1.2s;
      animation-fill-mode: forwards;

      .menu-link__icon {
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
      }
    }
  }

  &__menu {
    &_root-to-page-animation {
      animation-name: menu-minimize;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 0.8s;
    }
  }

  &__about {
    &_root-to-page-animation {
      animation-name: about-hide;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-delay: 1.2s;
    }
  }

  &__background-box-container {
    &_root-to-page-animation {
      animation-name: header-collapse;
      animation-duration: 1.2s;
      animation-fill-mode: forwards;
      animation-delay: 1.2s;
    }
  }

  &__page-title {
    &_root-to-page-animation {
      animation-name: page-title-show;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 1.2s;
    }
  }
}
