$color-white: #ffffff;
$color-black: #111111;
$color-mine-shaft: #2f2f2f;
$color-mine-shaft-transparent: #2f2f2fbb;
$color-tundora: #4b4b4b;
$color-tundora-transparent: #4b4b4bb0;
$color-dove-gray: #646464;
$color-silver-chalice: #a0a0a0;
$color-turbo: #ffe800;
$color-dolly: #fff480;
$color-dolly-transparent: #fff480b0;

$color-brand: $color-turbo;
$color-font: $color-white;
$color-background: $color-dolly;
$color-about-background: $color-tundora-transparent;
$color-about-background-border: $color-mine-shaft-transparent;
$color-menu-backround: $color-mine-shaft;
$color-menu-border: $color-dove-gray;
$color-menu-icon: $color-black;
$color-links-active-item: $color-brand;
$color-copyright: $color-brand;
$color-social-icon-hover: $color-brand;
$color-article-sub-heading: $color-silver-chalice;
$color-animation-switcher-background: $color-mine-shaft;
$color-animation-switcher-icon: $color-silver-chalice;
$color-animation-switcher-icon-active: $color-black;
