@import 'src/styles/index.scss';

.about {
  font-size: 3.2rem;
  padding: 2.5rem;
  width: 50rem;
  background: $color-about-background;
  height: min-content;
  text-align: justify;
  box-sizing: border-box;
  border: 1rem solid $color-about-background-border;

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
